.container-div{
    display: flex; 
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 400px;
    background-color: red;
  
    
}

.childDiv{
    
    background-color: white;
    border-color: red;
    border-style: solid;
    border-width: 1px; 
    box-sizing: border-box; 
    
}

.childDiv:hover {
    background-color: black;
}

.stick {
    background-color: black;
}

